# QUESTION-01

Write a program to iterate the first 10 numbers, and in each iteration, print the sum of
the current and previous number.

In [1]:
for i in range(11):
    print(i + (i-1))

-1
1
3
5
7
9
11
13
15
17
19

# QUESTION-02

2. Print the following pattern
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [13]:
for i in range(1,6):
    for j in range(i):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

# QUESTION-03

3. List is given below:
numbers = [12, 75, 150, 180, 145, 525, 50]
Write a program to display only those numbers from a list that satisfy the following
conditions
i. The number must be divisible by five
ii. If the number is greater than 150, then skip it and move to the next number
iii. If the number is greater than 500, then stop the loop

In [14]:
nums = [12, 75, 150, 180, 145, 525, 50]
for i in nums:
    if i > 500:
        break
    elif i > 150:
        continue
    else:
        if i % 5 == 0:
            print(i)

75
150
145

# QUESTION-04

4. Display Fibonacci series up to 10 terms
The Fibonacci Sequence is a series of numbers. The next number is found by adding
up the two numbers before it. The first two numbers are 0 and 1.
For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is
13+21 = 34.

In [26]:
a, b = 0, 1
for i in range(15):
    if i == 0:
        print(a, b, sep = '\n')
    else:
        print(a + b)
        a, b = b, a + b

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610

# QUESTION-05

5. Write a program to use the loop to find the factorial of a given number.
The factorial (symbol: !) means to multiply all whole numbers from the chosen number
down to 1.
For example: calculate the factorial of 5
5! = 5 × 4 × 3 × 2 × 1 = 120

In [29]:
num = int(input('Enter Any Positive Number: '))
if num > 1:
    m = 1
    for i in range(2, num+1):
        m *= i
    print(f'The Factorial Is: {m}')
else:
    print(f'The Factorial Is: {num}')

Enter Any Positive Number: 5
The Factorial Is: 120

# QUESTION-06

6. Write a program to iterate a given list and count the occurrence of each element and
print to show the count of each element.
sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]
Expected Output:
Printing count of each item 11: 2, 45: 3, 8: 1, 23: 2, 89: 1

In [31]:
nums = [11, 45, 8, 11, 23, 45, 23, 45, 89]
for i in set(nums):
    count = 0
    for j in nums:
        if j == i:
            count += 1
    print(f'{i}: {count}')

8: 1
11: 2
45: 3
23: 2
89: 1

# QUESTION-07

7. Given two lists, l1 and l2, write a program to create a third list l3 by picking an
odd-index element from the list l1 and even index elements from the list l2.
Given:
l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]

In [35]:
l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]
l3 = []
for i in range(len(l1)):
    if i % 2 == 0:
        l3.append(l2[i])
    else:
        l3.append(l1[i])
print(l3)

[4, 6, 12, 12, 20, 18, 28]