In [1]:
import pandas as pd
import matplotlib.pyplot as pyp

In [37]:
data = pd.read_csv('canada_per_capita_income.csv')
data.head()

   year  per capita income (US$)
0  1970              3399.299037
1  1971              3768.297935
2  1972              4251.175484
3  1973              4804.463248
4  1974              5576.514583

In [38]:
data.shape

(47, 2)

In [39]:
data.describe()

              year  per capita income (US$)
count    47.000000                47.000000
mean   1993.000000             18920.137063
std      13.711309             12034.679438
min    1970.000000              3399.299037
25%    1981.500000              9526.914515
50%    1993.000000             16426.725480
75%    2004.500000             27458.601420
max    2016.000000             42676.468370

In [40]:
data.rename(columns={'per capita income (US$)':'Per_Cap_Inc'},inplace=True)

In [41]:
data.head()

   year  Per_Cap_Inc
0  1970  3399.299037
1  1971  3768.297935
2  1972  4251.175484
3  1973  4804.463248
4  1974  5576.514583

In [42]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [43]:
x = data.drop(columns='Per_Cap_Inc')
y = data['Per_Cap_Inc']

In [44]:
reg = LinearRegression().fit(x,y)

In [45]:
reg.predict([[2020]])

C:\Users\Hp\anaconda3\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([41288.69409442])